In [12]:
print("Hello World")

Hello World

In [13]:
#TASK 1
name="Syeda Maham Mohsin"
rollnum="23K-0594"
print(name,end=" ")
print(rollnum)

Syeda Maham Mohsin 23K-0594

In [ ]:
#TASK 2
num1=int(input("Enter num1: "))
num2=int(input("Enter num2: "))
var3=0
var3=num1
var1=num2
var2=var3
print("Num1: ",var1)
print("Num2: ",var2)

In [ ]:
age=int(input("Enter age: "))
type(age)

In [ ]:
#TASK3
list=[1,2,3,4,15]
print(list)
list.append(6)
print(list)
list.insert(3,22)
print(list)
list.remove(3)
print(list)
list.sort()
print(list)
del list[2]
print(list)

In [1]:
#TASK 4
t = (10, 5, 8, 3, 12)
print("Original tuple:", t)

lst = list(t)
lst.append(7)
t = tuple(lst)
print("After adding an element:", t)

lst = list(t)
lst.insert(2, 15)  
t = tuple(lst)
print("After inserting an element:", t)

lst = list(t)
lst.remove(8)     
t = tuple(lst)
print("After removing an element:", t)

lst = list(t)
lst.sort()
t = tuple(lst)
print("After sorting:", t)

lst = list(t)
del lst[3]         
t = tuple(lst)
print("After deleting an element by index:", t)

Original tuple: (10, 5, 8, 3, 12)
After adding an element: (10, 5, 8, 3, 12, 7)
After inserting an element: (10, 5, 15, 8, 3, 12, 7)
After removing an element: (10, 5, 15, 3, 12, 7)
After sorting: (3, 5, 7, 10, 12, 15)
After deleting an element by index: (3, 5, 7, 12, 15)

In [2]:
#TASK 5
s = {10, 5, 8, 3, 12}
print("Original set:", s)

s.add(7)
print("After adding one element:", s)

s.update([15, 2, 9])
print("After adding multiple elements:", s)

s.remove(8) 
print("After removing an element:", s)

sorted_set = sorted(s)
print("Set in ascending order:", sorted_set)

s.clear()
print("After clearing the set:", s)

Original set: {3, 5, 8, 10, 12}
After adding one element: {3, 5, 7, 8, 10, 12}
After adding multiple elements: {2, 3, 5, 7, 8, 9, 10, 12, 15}
After removing an element: {2, 3, 5, 7, 9, 10, 12, 15}
Set in ascending order: [2, 3, 5, 7, 9, 10, 12, 15]
After clearing the set: set()

In [3]:
#TASK 6
students = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92
}

print("Original dictionary:", students)

students["David"] = 88
print("After adding a new student:", students)

students["Bob"] = 82
print("After updating marks:", students)

del students["Alice"]
print("After deleting a student:", students)

print("Student Names:")
for name in students.keys():
    print(name)

print("Student Marks:")
for marks in students.values():
    print(marks)

Original dictionary: {'Alice': 85, 'Bob': 78, 'Charlie': 92}
After adding a new student: {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 88}
After updating marks: {'Alice': 85, 'Bob': 82, 'Charlie': 92, 'David': 88}
After deleting a student: {'Bob': 82, 'Charlie': 92, 'David': 88}
Student Names:
Bob
Charlie
David
Student Marks:
82
92
88

In [4]:
#TASK 7
marks = int(input("Enter student's marks (0–100): "))

# Check grade
if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Enter student's marks (0–100):  88

Grade: B

In [5]:
#TASK 8
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
#TASK 9
def add_numbers(a, b=5):
    return a + b

print("Sum with one argument:", add_numbers(10))
print("Sum with two arguments:", add_numbers(10, 3))

def greet_user(name="Guest"):
    print("Hello,", name)

greet_user()
greet_user("Alice")

def power(num, exp=2):
    return num ** exp

print("Square of 4:", power(4))
print("2 raised to power 3:", power(2, 3))

Sum with one argument: 15
Sum with two arguments: 13
Hello, Guest
Hello, Alice
Square of 4: 16
2 raised to power 3: 8

In [7]:
#TASK 10
def simple_interest(principal, time, rate=5):
    interest = (principal * time * rate) / 100
    return interest

print("Simple Interest:", simple_interest(1000, 2))
print("Simple Interest with custom rate:", simple_interest(1000, 2, 8))

Simple Interest: 100.0
Simple Interest with custom rate: 160.0